In [1]:
import pandas as pd
import time

# Leitura dos Dados

In [2]:
# Dataset read
df = pd.read_csv('data/unpacked/ca-2019-2022.csv', delimiter=';')
# Types treatment
df['Data da Coleta'] =  pd.to_datetime(df['Data da Coleta'], format='%d/%m/%Y')
df['Valor de Venda'] = pd.to_numeric(df['Valor de Venda'].str.replace(',','.'))
df['Valor de Compra'] = pd.to_numeric(df['Valor de Compra'])#.str.replace(',','.'))
df.head(5)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,PE,IGARASSU,POSTO TREZE LTDA.,24.436.669/0001-99,RODOVIA BR 101 NORTE,250,KM 29,CENTRO,53610-296,DIESEL S10,2021-06-27,4.390,NaN,R$ / litro,BRANCA
1,NE,PE,IGARASSU,BARROS & ALMEIDA LTDA,24.140.204/0001-96,RODOVIA BR 101 NORTE,SN,KM 43498,CENTRO,53610-296,ETANOL,2021-06-27,5.199,NaN,R$ / litro,VIBRA ENERGIA
2,NE,PE,IGARASSU,BARROS & ALMEIDA LTDA,24.140.204/0001-96,RODOVIA BR 101 NORTE,SN,KM 43498,CENTRO,53610-296,GASOLINA,2021-06-27,5.799,NaN,R$ / litro,VIBRA ENERGIA
3,NE,PE,IGARASSU,BARROS & ALMEIDA LTDA,24.140.204/0001-96,RODOVIA BR 101 NORTE,SN,KM 43498,CENTRO,53610-296,GASOLINA ADITIVADA,2021-06-27,5.999,NaN,R$ / litro,VIBRA ENERGIA
4,NE,PE,IGARASSU,BARROS & ALMEIDA LTDA,24.140.204/0001-96,RODOVIA BR 101 NORTE,SN,KM 43498,CENTRO,53610-296,GNV,2021-06-27,3.599,NaN,R$ / m³,VIBRA ENERGIA

# Parâmetros do Experimento

In [3]:
# Number of iterations to calculate mean and std
n = 30

In [4]:
import numpy as np
import scipy.stats

def mean_confidence_interval(data, confidence=0.95):
    a = 1.0 * np.array(data)
    n = len(a)
    m, se = np.mean(a), scipy.stats.sem(a)
    h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    return m, m-h, m+h

# Experimento Banco de Dados Relacional (SQLite)

In [5]:
from sqlalchemy import create_engine, Column, String, Integer, ForeignKey, DateTime, Float
from sqlalchemy.orm import Session

# Use the default method for abstracting classes to tables
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [6]:
class Coleta(Base):
    __tablename__ = 'coleta'
    id = Column(Integer, primary_key=True)
    regiao = Column(String(255))
    estado = Column(String(255))
    municipio = Column(String(255))
    revenda = Column(String(255))
    cnpj = Column(String(255))
    rua = Column(String(255))
    numero = Column(String(255))
    complemento = Column(String(255))
    bairro = Column(String(255))
    cep = Column(String(255))
    produto = Column(String(255))
    data = Column(DateTime())
    valor_venda = Column(Float(5))
    valor_compra = Column(Float(5))
    unidade_medida = Column(String(255))
    bandeira = Column(String(255))

In [7]:
#Insert and Delete Experiment
#SQLite

insertSQLite = []
deleteSQLite = []

for i in range(n):
    # Create DB connection
    engine = create_engine("sqlite:///precos.sqlite")
    conn = engine.connect()
    session = Session(bind=engine)

    # Create metadata layer that abstracts our SQL DB
    Base.metadata.create_all(engine)
    
    #Create objects
    tempo_ini = time.time()
    for index, row in df.iterrows():
        session.add(Coleta(
            id = index,
            regiao = row['Regiao - Sigla'],
            estado = row['Estado - Sigla'],
            municipio = row['Municipio'],
            revenda = row['Revenda'],
            cnpj = row['CNPJ da Revenda'],
            rua = row['Nome da Rua'],
            numero = row['Numero Rua'],
            complemento = row['Complemento'],
            bairro = row['Bairro'],
            cep = row['Cep'],
            produto = row['Produto'],
            data = row['Data da Coleta'],
            valor_venda = row['Valor de Venda'],
            valor_compra = row['Valor de Compra'],
            unidade_medida = row['Unidade de Medida'],
            bandeira = row['Bandeira']
        ))
    # Commit changes to database
    session.commit()
    tempo_fim = time.time()
    print(i)
    print('### SQL INSERT ### ', df.shape[0], 'registros.')
    print("Tempo de inserção: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    insertSQLite.append(tempo_fim - tempo_ini)

    # Delete database
    tempo_ini = time.time()
    Base.metadata.drop_all(engine)
    tempo_fim = time.time()
    print('### SQL DELETE ### ')
    print("Tempo de delete: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    deleteSQLite.append(tempo_fim - tempo_ini)

0
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.54610 segundos
### SQL DELETE ###
Tempo de delete: 0.17375 segundos
1
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.37930 segundos
### SQL DELETE ###
Tempo de delete: 0.17522 segundos
2
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.15228 segundos
### SQL DELETE ###
Tempo de delete: 0.17400 segundos
3
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 166.85440 segundos
### SQL DELETE ###
Tempo de delete: 0.17100 segundos
4
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.08009 segundos
### SQL DELETE ###
Tempo de delete: 0.16900 segundos
5
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.60221 segundos
### SQL DELETE ###
Tempo de delete: 0.17300 segundos
6
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 166.88989 segundos
### SQL DELETE ###
Tempo de delete: 0.17100 segundos
7
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.38513 segundos
### SQL DELETE ###
Tempo de delete: 0.17067 segundos
8
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 166.70493 segundos
### SQL DELETE ###
Tempo de delete: 0.17100 segundos
9
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.50505 segundos
### SQL DELETE ###
Tempo de delete: 0.17000 segundos
10
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.09357 segundos
### SQL DELETE ###
Tempo de delete: 0.17302 segundos
11
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.30716 segundos
### SQL DELETE ###
Tempo de delete: 0.17102 segundos
12
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.47726 segundos
### SQL DELETE ###
Tempo de delete: 0.17293 segundos
13
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.80546 segundos
### SQL DELETE ###
Tempo de delete: 0.18000 segundos
14
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 169.07864 segundos
### SQL DELETE ###
Tempo de delete: 0.17400 segundos
15
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.18707 segundos
### SQL DELETE ###
Tempo de delete: 0.17400 segundos
16
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.45415 segundos
### SQL DELETE ###
Tempo de delete: 0.17100 segundos
17
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.44247 segundos
### SQL DELETE ###
Tempo de delete: 0.17200 segundos
18
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 169.00037 segundos
### SQL DELETE ###
Tempo de delete: 0.17200 segundos
19
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.92895 segundos
### SQL DELETE ###
Tempo de delete: 0.17400 segundos
20
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.55565 segundos
### SQL DELETE ###
Tempo de delete: 0.17200 segundos
21
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 170.37299 segundos
### SQL DELETE ###
Tempo de delete: 0.17157 segundos
22
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 167.81897 segundos
### SQL DELETE ###
Tempo de delete: 0.17000 segundos
23
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 169.68381 segundos
### SQL DELETE ###
Tempo de delete: 0.17100 segundos
24
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.79270 segundos
### SQL DELETE ###
Tempo de delete: 0.16900 segundos
25
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.75014 segundos
### SQL DELETE ###
Tempo de delete: 0.17200 segundos
26
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 169.71517 segundos
### SQL DELETE ###
Tempo de delete: 0.17000 segundos
27
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.42826 segundos
### SQL DELETE ###
Tempo de delete: 0.17158 segundos
28
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 169.19188 segundos
### SQL DELETE ###
Tempo de delete: 0.17100 segundos
29
### SQL INSERT ###  1011250 registros.
Tempo de inserção: 169.55985 segundos
### SQL DELETE ###
Tempo de delete: 0.17200 segundos

In [8]:
# Create DB connection
engine = create_engine("sqlite:///precos.sqlite")
conn = engine.connect()
session = Session(bind=engine)

# Create metadata layer that abstracts our SQL DB
Base.metadata.create_all(engine)

#Create objects
tempo_ini = time.time()
for index, row in df.iterrows():
    session.add(Coleta(
        id = index,
        regiao = row['Regiao - Sigla'],
        estado = row['Estado - Sigla'],
        municipio = row['Municipio'],
        revenda = row['Revenda'],
        cnpj = row['CNPJ da Revenda'],
        rua = row['Nome da Rua'],
        numero = row['Numero Rua'],
        complemento = row['Complemento'],
        bairro = row['Bairro'],
        cep = row['Cep'],
        produto = row['Produto'],
        data = row['Data da Coleta'],
        valor_venda = row['Valor de Venda'],
        valor_compra = row['Valor de Compra'],
        unidade_medida = row['Unidade de Medida'],
        bandeira = row['Bandeira']
    ))
# Commit changes to database
session.commit()
tempo_fim = time.time()
print('### SQL INSERT ### ', df.shape[0], 'registros.')
print("Tempo de inserção: {:.5f} segundos".format((tempo_fim - tempo_ini)))

### SQL INSERT ###  1011250 registros.
Tempo de inserção: 168.50968 segundos

In [9]:
query1SQLite = []
for i in range(n):
    query = """SELECT * FROM coleta AS c WHERE c.regiao = 'SE';"""
    tempo_ini = time.time()
    result = pd.read_sql_query(query, session.bind)
    tempo_fim = time.time()
    print(i)
    print('### SQL - região sudeste ### ', result.shape[0], 'registro(s).')
    print("Tempo de consulta: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    query1SQLite.append(tempo_fim - tempo_ini)

0
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.21365 segundos
1
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.70700 segundos
2
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.66323 segundos
3
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.66170 segundos
4
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.82418 segundos
5
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.71001 segundos
6
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.68756 segundos
7
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.83674 segundos
8
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69485 segundos
9
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69311 segundos
10
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.82868 segundos
11
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69314 segundos
12
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.85166 segundos
13
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.71000 segundos
14
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.70578 segundos
15
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.68425 segundos
16
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.84431 segundos
17
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69000 segundos
18
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.83957 segundos
19
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.70847 segundos
20
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69292 segundos
21
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.83600 segundos
22
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.70369 segundos
23
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69093 segundos
24
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.82921 segundos
25
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69817 segundos
26
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.85454 segundos
27
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.71114 segundos
28
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69584 segundos
29
### SQL - região sudeste ###  491866 registro(s).
Tempo de consulta: 3.69000 segundos

In [10]:
query2SQLite = []
for i in range(n):
    query = """SELECT AVG(c.valor_venda) FROM coleta AS c ;"""
    tempo_ini = time.time()
    result = pd.read_sql_query(query, session.bind)
    tempo_fim = time.time()
    print(i)
    print('### SQL - preço médio de venda ### ', result.shape[0], 'registro(s).')
    print(result['AVG(c.valor_venda)'].values[0])
    print("Tempo de consulta: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    query2SQLite.append(tempo_fim - tempo_ini)

0
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.58700 segundos
1
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28354 segundos
2
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28309 segundos
3
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
4
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
5
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
6
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28300 segundos
7
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
8
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28312 segundos
9
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28500 segundos
10
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28500 segundos
11
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
12
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
13
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28300 segundos
14
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28300 segundos
15
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
16
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28500 segundos
17
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28600 segundos
18
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28500 segundos
19
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28354 segundos
20
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28552 segundos
21
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28500 segundos
22
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28500 segundos
23
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
24
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
25
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
26
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28600 segundos
27
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
28
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28400 segundos
29
### SQL - preço médio de venda ###  1 registro(s).
6.040825667265067
Tempo de consulta: 0.28500 segundos

In [11]:
query3SQLite = []
for i in range(n):
    query = """ SELECT c.regiao, AVG(c.valor_venda) FROM coleta AS c 
                GROUP BY c.regiao ORDER BY AVG(c.valor_venda) ASC;"""
    tempo_ini = time.time()
    result = pd.read_sql_query(query, session.bind)
    tempo_fim = time.time()
    print(i)
    print('### SQL - preço médio de venda agrupado por região ### ', result.shape[0], 'registro(s).')
    print(result)
    print("Tempo de consulta: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    query3SQLite.append(tempo_fim - tempo_ini)

0
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.78000 segundos
1
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77600 segundos
2
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77545 segundos
3
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77500 segundos
4
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77200 segundos
5
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.78500 segundos
6
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.78200 segundos
7
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77900 segundos
8
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77555 segundos
9
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77220 segundos
10
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77300 segundos
11
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.78000 segundos
12
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77900 segundos
13
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76900 segundos
14
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76700 segundos
15
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76619 segundos
16
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76400 segundos
17
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76300 segundos
18
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77400 segundos
19
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77300 segundos
20
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76600 segundos
21
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76500 segundos
22
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76473 segundos
23
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76700 segundos
24
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76400 segundos
25
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77554 segundos
26
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.77054 segundos
27
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76700 segundos
28
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76611 segundos
29
### SQL - preço médio de venda agrupado por região ###  5 registro(s).
  regiao  AVG(c.valor_venda)
0     SE            5.905229
1     CO            6.051408
2      S            6.061496
3     NE            6.248689
4      N            6.395511
Tempo de consulta: 0.76300 segundos

# Experimento Banco de Dados Documentos (MongoDB)

In [12]:
import pymongo

# Establish connection
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

# Create a database
db = client.precos
db.drop_collection(name_or_collection='coleta')

{'nIndexesWas': 1, 'ns': 'precos.coleta', 'ok': 1.0}

In [13]:
insertMongoDB = []
deleteMongoDB = []
for i in range(n):
    #Create objects
    tempo_ini = time.time()
    dictio = df.to_dict('records')
    db.coleta.insert_many(dictio)
    tempo_fim = time.time()
    print(i)
    print('### NoSQL INSERT ### ', df.shape[0], 'registros.')
    print("Tempo de inserção: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    insertMongoDB.append(tempo_fim - tempo_ini)
    #Drop collection
    tempo_ini = time.time()
    db.drop_collection(name_or_collection='coleta')
    tempo_fim = time.time()
    print(i)
    print('### NoSQL DELETE ### ')
    print("Tempo de delete: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    deleteMongoDB.append(tempo_fim - tempo_ini)

0
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.89822 segundos
0
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
1
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 29.98362 segundos
1
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
2
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.39232 segundos
2
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
3
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.77764 segundos
3
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
4
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.54740 segundos
4
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
5
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 29.84151 segundos
5
### NoSQL DELETE ###
Tempo de delete: 0.00000 segundos
6
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 31.16309 segundos
6
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
7
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.75784 segundos
7
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
8
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 31.27972 segundos
8
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
9
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.25565 segundos
9
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
10
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.84100 segundos
10
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
11
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.80889 segundos
11
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
12
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.53344 segundos
12
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
13
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.38683 segundos
13
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
14
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 29.18650 segundos
14
### NoSQL DELETE ###
Tempo de delete: 0.00000 segundos
15
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 31.13281 segundos
15
### NoSQL DELETE ###
Tempo de delete: 0.00000 segundos
16
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.16891 segundos
16
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
17
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 29.19772 segundos
17
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
18
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.84717 segundos
18
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
19
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.35712 segundos
19
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
20
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.82247 segundos
20
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
21
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 29.57856 segundos
21
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
22
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 29.74772 segundos
22
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
23
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.65314 segundos
23
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
24
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.38596 segundos
24
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
25
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 29.84559 segundos
25
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
26
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 28.92154 segundos
26
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
27
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 29.95313 segundos
27
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos
28
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.67669 segundos
28
### NoSQL DELETE ###
Tempo de delete: 0.00000 segundos
29
### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.32839 segundos
29
### NoSQL DELETE ###
Tempo de delete: 0.00100 segundos

In [14]:
#Create objects
tempo_ini = time.time()
dictio = df.to_dict('records')
db.coleta.insert_many(dictio)
tempo_fim = time.time()
print('### NoSQL INSERT ### ', df.shape[0], 'registros.')
print("Tempo de inserção: {:.5f} segundos".format((tempo_fim - tempo_ini)))

### NoSQL INSERT ###  1011250 registros.
Tempo de inserção: 30.44778 segundos

In [15]:
query1MongoDB = []
for i in range(n):
    find = {'Regiao - Sigla':'SE'}
    tempo_ini = time.time()
    count = db.coleta.count_documents(find)
    tempo_fim = time.time()
    print(i)
    print('### NoSQL - região sudeste ### ', count, 'registros.')
    print("Tempo de consulta: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    query1MongoDB.append(tempo_fim - tempo_ini)

0
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.81356 segundos
1
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78900 segundos
2
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78956 segundos
3
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79057 segundos
4
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78900 segundos
5
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78800 segundos
6
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79100 segundos
7
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79058 segundos
8
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78800 segundos
9
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78554 segundos
10
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78700 segundos
11
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78600 segundos
12
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79400 segundos
13
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79314 segundos
14
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79700 segundos
15
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79055 segundos
16
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79300 segundos
17
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79700 segundos
18
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79200 segundos
19
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79186 segundos
20
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79200 segundos
21
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.78754 segundos
22
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79300 segundos
23
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79100 segundos
24
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79300 segundos
25
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79100 segundos
26
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79167 segundos
27
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79200 segundos
28
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79808 segundos
29
### NoSQL - região sudeste ###  491866 registros.
Tempo de consulta: 0.79200 segundos

In [16]:
query2MongoDB = []
for i in range(n):
    tempo_ini = time.time()
    result = db.coleta.aggregate([{'$group': {'_id':'null', 'avg_val':{'$avg':'$Valor de Venda'}}}])
    tempo_fim = time.time()
    print(i)
    print('### NoSQL - preço médio de venda ### ')
    for r in result:
        print(r['avg_val'])
    print("Tempo de consulta: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    query2MongoDB.append(tempo_fim - tempo_ini)

0
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.03474 segundos
1
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.01968 segundos
2
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.01800 segundos
3
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.01907 segundos
4
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.01886 segundos
5
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02200 segundos
6
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.01997 segundos
7
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.01900 segundos
8
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.01814 segundos
9
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.01655 segundos
10
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02500 segundos
11
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02266 segundos
12
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02801 segundos
13
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02754 segundos
14
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.03100 segundos
15
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02655 segundos
16
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02858 segundos
17
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02500 segundos
18
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02721 segundos
19
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.03200 segundos
20
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02600 segundos
21
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02344 segundos
22
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02455 segundos
23
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02600 segundos
24
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02700 segundos
25
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02500 segundos
26
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02311 segundos
27
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.03355 segundos
28
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02555 segundos
29
### NoSQL - preço médio de venda ###
6.040825667243511
Tempo de consulta: 1.02900 segundos

In [17]:
query3MongoDB = []
for i in range(n):
    tempo_ini = time.time()
    result = db.coleta.aggregate([{'$group': {'_id':'$Regiao - Sigla','avg_val':{'$avg':'$Valor de Venda'}}},
                                  {"$sort": {'avg_val': 1}}])
    tempo_fim = time.time()
    print(i)
    print('### NoSQL - preço médio de venda ### ')
    for r in result:
        print(r)
    print("Tempo de consulta: {:.5f} segundos".format((tempo_fim - tempo_ini)))
    query3MongoDB.append(tempo_fim - tempo_ini)

0
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11300 segundos
1
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10951 segundos
2
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11354 segundos
3
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11254 segundos
4
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10700 segundos
5
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10593 segundos
6
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10755 segundos
7
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11154 segundos
8
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10400 segundos
9
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10900 segundos
10
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10961 segundos
11
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11254 segundos
12
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11300 segundos
13
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11600 segundos
14
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11964 segundos
15
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10756 segundos
16
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11608 segundos
17
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11400 segundos
18
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11400 segundos
19
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11159 segundos
20
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11406 segundos
21
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11400 segundos
22
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11600 segundos
23
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11472 segundos
24
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11408 segundos
25
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11309 segundos
26
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11400 segundos
27
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11200 segundos
28
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.11056 segundos
29
### NoSQL - preço médio de venda ###
{'_id': 'SE', 'avg_val': 5.905229351083425}
{'_id': 'CO', 'avg_val': 6.051408198025571}
{'_id': 'S', 'avg_val': 6.061496396910155}
{'_id': 'NE', 'avg_val': 6.2486891971724825}
{'_id': 'N', 'avg_val': 6.395511331538896}
Tempo de consulta: 1.10968 segundos

# Resultados

In [18]:
experiment_results = pd.DataFrame()

In [19]:
experiment_results['INSERT SQLite'] = insertSQLite
experiment_results['INSERT MongoDB'] = insertMongoDB
experiment_results['DELETE SQLite'] = deleteSQLite
experiment_results['DELETE MongoDB'] = deleteMongoDB
experiment_results['QUERY 1 SQLite'] = query1SQLite
experiment_results['QUERY 1 MongoDB'] = query1MongoDB
experiment_results['QUERY 2 SQLite'] = query2SQLite
experiment_results['QUERY 2 MongoDB'] = query2MongoDB
experiment_results['QUERY 3 SQLite'] = query3SQLite
experiment_results['QUERY 3 MongoDB'] = query3MongoDB

In [20]:
experiment_results.loc['mean', 'INSERT SQLite'], experiment_results.loc['ci-inf', 'INSERT SQLite'], experiment_results.loc['ci-sup', 'INSERT SQLite'] = mean_confidence_interval(insertSQLite)
experiment_results.loc['mean', 'INSERT MongoDB'], experiment_results.loc['ci-inf', 'INSERT MongoDB'], experiment_results.loc['ci-sup', 'INSERT MongoDB'] = mean_confidence_interval(insertMongoDB)

experiment_results.loc['mean', 'DELETE SQLite'], experiment_results.loc['ci-inf', 'DELETE SQLite'], experiment_results.loc['ci-sup', 'DELETE SQLite'] = mean_confidence_interval(deleteSQLite)
experiment_results.loc['mean', 'DELETE MongoDB'], experiment_results.loc['ci-inf', 'DELETE MongoDB'], experiment_results.loc['ci-sup', 'DELETE MongoDB'] = mean_confidence_interval(deleteMongoDB)

experiment_results.loc['mean', 'QUERY 1 SQLite'], experiment_results.loc['ci-inf', 'QUERY 1 SQLite'], experiment_results.loc['ci-sup', 'QUERY 1 SQLite'] = mean_confidence_interval(query1SQLite)
experiment_results.loc['mean', 'QUERY 1 MongoDB'], experiment_results.loc['ci-inf', 'QUERY 1 MongoDB'], experiment_results.loc['ci-sup', 'QUERY 1 MongoDB'] = mean_confidence_interval(query1MongoDB)

experiment_results.loc['mean', 'QUERY 2 SQLite'], experiment_results.loc['ci-inf', 'QUERY 2 SQLite'], experiment_results.loc['ci-sup', 'QUERY 2 SQLite'] = mean_confidence_interval(query2SQLite)
experiment_results.loc['mean', 'QUERY 2 MongoDB'], experiment_results.loc['ci-inf', 'QUERY 2 MongoDB'], experiment_results.loc['ci-sup', 'QUERY 2 MongoDB'] = mean_confidence_interval(query2MongoDB)

experiment_results.loc['mean', 'QUERY 3 SQLite'], experiment_results.loc['ci-inf', 'QUERY 3 SQLite'], experiment_results.loc['ci-sup', 'QUERY 3 SQLite'] = mean_confidence_interval(query3SQLite)
experiment_results.loc['mean', 'QUERY 3 MongoDB'], experiment_results.loc['ci-inf', 'QUERY 3 MongoDB'], experiment_results.loc['ci-sup', 'QUERY 3 MongoDB'] = mean_confidence_interval(query3MongoDB)

experiment_results

,INSERT SQLite,INSERT MongoDB,DELETE SQLite,DELETE MongoDB,QUERY 1 SQLite,QUERY 1 MongoDB,QUERY 2 SQLite,QUERY 2 MongoDB,QUERY 3 SQLite,QUERY 3 MongoDB
0,168.546102,30.898222,0.173753,0.001000,3.213646,0.813561,0.586999,1.034739,0.779999,1.113001
1,167.379296,29.983619,0.175220,0.001000,3.707000,0.789000,0.283541,1.019685,0.776000,1.109515
2,167.152279,30.392316,0.174000,0.001001,3.663230,0.789558,0.283092,1.018003,0.775454,1.113542
3,166.854398,30.777635,0.171001,0.000999,3.661701,0.790568,0.284002,1.019067,0.775001,1.112543
4,167.080085,30.547401,0.168998,0.001002,3.824180,0.789000,0.283999,1.018863,0.771998,1.106997
5,167.602210,29.841508,0.173001,0.000000,3.710006,0.788000,0.283999,1.021999,0.785002,1.105931
6,166.889886,31.163087,0.171002,0.001000,3.687559,0.791001,0.283000,1.019972,0.782000,1.107550
7,168.385132,30.757841,0.170669,0.001001,3.836736,0.790577,0.284000,1.019000,0.778999,1.111544
8,166.704933,31.279717,0.171002,0.000999,3.694854,0.788002,0.283124,1.018140,0.775551,1.104000
9,167.505046,30.255647,0.170003,0.001000,3.693110,0.785539,0.284999,1.016546,0.772199,1.108998
10,167.093571,30.841002,0.173018,0.001001,3.828684,0.786999,0.285000,1.024997,0.772999,1.109608
11,168.307162,30.808889,0.171022,0.001002,3.693144,0.786000,0.284000,1.022660,0.780000,1.112542
12,167.477258,30.533443,0.172929,0.001001,3.851658,0.794002,0.283998,1.028009,0.778999,1.113001
13,167.805462,30.386833,0.179998,0.001000,3.709999,0.793138,0.283001,1.027543,0.769000,1.115999
14,169.078643,29.186497,0.174001,0.000000,3.705777,0.796999,0.282999,1.031002,0.766999,1.119641
15,168.187071,31.132812,0.174001,0.000000,3.684248,0.790549,0.283997,1.026552,0.766193,1.107556
16,168.454154,30.168911,0.171001,0.001000,3.844314,0.792999,0.285000,1.028582,0.763998,1.116078
17,168.442468,29.197725,0.171999,0.001000,3.690001,0.797000,0.286002,1.024998,0.763001,1.113998
18,169.000374,30.847172,0.172001,0.001002,3.839565,0.791999,0.285000,1.027208,0.774000,1.114000
19,168.928953,30.357121,0.174001,0.001001,3.708467,0.791864,0.283545,1.032000,0.772998,1.111590
20,168.555653,30.822474,0.172002,0.001000,3.692919,0.791999,0.285520,1.025998,0.765999,1.114060
21,170.372987,29.578559,0.171571,0.000999,3.835998,0.787542,0.284998,1.023444,0.764999,1.114000
22,167.818969,29.747719,0.170001,0.001001,3.703690,0.793001,0.285002,1.024546,0.764733,1.116002
23,169.683811,30.653139,0.170998,0.000999,3.690932,0.790998,0.283998,1.026001,0.766999,1.114717
24,168.792704,30.385965,0.169000,0.001001,3.829207,0.793000,0.283999,1.027000,0.763999,1.114081
25,168.750140,29.845591,0.172001,0.001000,3.698171,0.790999,0.283999,1.024999,0.775537,1.113091
26,169.715173,28.921542,0.170000,0.001000,3.854538,0.791673,0.286001,1.023114,0.770538,1.113999
27,168.428264,29.953125,0.171580,0.001001,3.711138,0.791999,0.283999,1.033549,0.767000,1.112000
28,169.191880,30.676693,0.171000,0.000000,3.695840,0.798082,0.284001,1.025551,0.766110,1.110563
29,169.559852,30.328394,0.172000,0.001000,3.690001,0.792000,0.285000,1.029002,0.762997,1.109679
mean,168.258131,30.342353,0.172093,0.000867,3.721677,0.791922,0.294327,1.024759,0.771643,1.111994
ci-inf,167.899891,30.117551,0.171286,0.000738,3.677840,0.790025,0.273684,1.022978,0.769300,1.110717
ci-sup,168.616370,30.567156,0.172899,0.000996,3.765514,0.793818,0.314970,1.026540,0.773986,1.113271